<form action="" class="">

    <h2>Соглашение</h2>
    <div class="agreement-content" data-scroll-agreement>
        <p>Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.</p>
        <p>Все пользователи, указывающие свои персональные данные на данном сайте подтверждают свое согласие на обработку персональных данных и их последующую передачу третьим лицам для оказания сервисных услуг, заказанных пользователем.</p>

        <p>Под персональными данными Пользователей понимается нижеуказанная информация:</p>
        <p>- общая информация (Ф.И.О. пользователя, год, число и месяц рождения, электронная почта, направленные на сайт фотографии);</p>
        <p>- любая иная информация, касающаяся Пользователя и раскрытая им при заполнении анкет, а также любым другим способом на данном сайте.</p>

        <p>Пользователи направляют свои персональные данные Администрации сайта в целях их передачи третьим лицам, заинтересованным в оказании сервисных услуг пользователю.</p>
        <p>Пользователи, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам), обезличивание, блокирование, уничтожение.</p>

        <p>Пользователь гарантирует:</p>
        <p>- информация, им предоставленная, является полной, точной и достоверной;</p>
        <p>- при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц;</p>
        <p>- вся предоставленная на сайт информация заполнена Пользователем в отношении себя лично, все действия по регистрации на сайте совершены непосредственно Пользователем;</p>
        <p>- не использовать чужие контактные данные, включая телефон, e-mail и т.п.;</p>
        <p>- не создавать помехи в использовании Сайта другими Пользователями, в том числе посредством распространения компьютерных вирусов, неоднократного размещения дублирующей информации, одновременную отправку большого количества электронной почты либо запросов к Сайту и т.п.;</p>
        <p>- не передавать информацию третьим лицам в отношении логина и пароля на данном сайте. Вся информация, полученная под регистрационными данными Пользователя, будет считаться полученной от него лично.</p>

        <p>Пользователь проинформирован: </p>
        <p>- что настоящее Соглашение может быть им отозвано посредством направления письменного заявления Администрации сайта;</p>
        <p>- что срок хранения и обработки его персональных данных устанавливается по усмотрению Администрации сайта и может составлять до 10 лет с момента последнего размещения Пользователем информации. </p>
        <p>Администрация сайта имеет право по своему усмотрению удалять информацию Пользователя из сайта в случаях возникновения у нее сомнений в соблюдении Пользователем условий настоящего Соглашения.</p>
    </div>


    <div class="_txt-center">
        <button class="btn green" type="submit" tabindex="6">принимаю</button>
    </div>

</form>
<script>
    $('[data-scroll-agreement]').mCustomScrollbar({
        theme:'dark',
        autoHideScrollbar: false,
        scrollInertia: 400,
        advanced: {
            updateOnContentResize:true
        },
        callbacks:{
            onInit: function(){

            }
        }
    });
</script>