<div class="title-slide">Добавьте к заказу:</div>

<div class="product-slider" data-product-slider>

    <div class="item">
        <a href="#" class="item-link">
            <img src="img/snacks/sn_4.png" alt="">
            <div class="name" data-height>Авокадо и креветки</div>
        </a>
        <div class="btn-group number-group">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="minus"></button>
            <input data-input-number="" type="text" name="" class="btn border input-number" value="1" min="1" readonly="">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="plus"></button>
        </div>
        <div class="rub">280 руб.</div>

        <button class="btn pink small">
            в корзину
        </button>
    </div>
    <div class="item">
        <a href="#" class="item-link">
            <img src="img/snacks/sn_6.png" alt="">
            <div class="name" data-height>Оливье</div>
        </a>
        <div class="btn-group number-group">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="minus"></button>
            <input data-input-number="" type="text" name="" class="btn border input-number" value="1" min="1" readonly="">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="plus"></button>
        </div>
        <div class="rub">280 руб.</div>

        <button class="btn pink small">
            в корзину
        </button>
    </div>
    <div class="item">
        <a href="#" class="item-link">
            <img src="img/snacks/sn_4.png" alt="">
            <div class="name" data-height>Авокадо и креветки</div>
        </a>
        <div class="btn-group number-group">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="minus"></button>
            <input data-input-number="" type="text" name="" class="btn border input-number" value="1" min="1" readonly="">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="plus"></button>
        </div>
        <div class="rub">280 руб.</div>

        <button class="btn pink small">
            в корзину
        </button>
    </div>
    <div class="item">
        <a href="#" class="item-link">
            <img src="img/snacks/sn_6.png" alt="">
            <div class="name" data-height>Оливье</div>
        </a>
        <div class="btn-group number-group">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="minus"></button>
            <input data-input-number="" type="text" name="" class="btn border input-number" value="1" min="1" readonly="">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="plus"></button>
        </div>
        <div class="rub">280 руб.</div>

        <button class="btn pink small">
            в корзину
        </button>
    </div>
    <div class="item">
        <a href="#" class="item-link">
            <img src="img/snacks/sn_4.png" alt="">
            <div class="name" data-height>Авокадо и креветки</div>
        </a>
        <div class="btn-group number-group">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="minus"></button>
            <input data-input-number="" type="text" name="" class="btn border input-number" value="1" min="1" readonly="">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="plus"></button>
        </div>
        <div class="rub">280 руб.</div>

        <button class="btn pink small">
            в корзину
        </button>
    </div>
    <div class="item">
        <a href="#" class="item-link">
            <img src="img/snacks/sn_7.png" alt="">
            <div class="name" data-height>Моцарелла с томатами</div>
        </a>
        <div class="btn-group number-group">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="minus"></button>
            <input data-input-number="" type="text" name="" class="btn border input-number" value="1" min="1" readonly="">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="plus"></button>
        </div>
        <div class="rub">280 руб.</div>

        <button class="btn pink small">
            в корзину
        </button>
    </div>
    <div class="item">
        <a href="#" class="item-link">
            <img src="img/snacks/sn_6.png" alt="">
            <div class="name" data-height>Оливье</div>
        </a>
        <div class="btn-group number-group">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="minus"></button>
            <input data-input-number="" type="text" name="" class="btn border input-number" value="1" min="1" readonly="">
            <button data-btn-number="" type="button" class="btn border btn-number" data-type="plus"></button>
        </div>
        <div class="rub">280 руб.</div>

        <button class="btn pink small">
            в корзину
        </button>
    </div>

</div>