
<div class="header row">

    <div class="left-col">
        <a href="/" class="logo"></a>
        <button class="btn orange-bg">заказать звонок</button>
    </div>

    <div class="right-col">
        <div class="main-nav row">
            <div class="right-col">
                <div class="phone">+7 495/499 <span>505-57-57</span></div>
                <div class="counter">1000</div>
                <div class="hint">За сегодня мы приготовили уже 1000 пицц!</div>
            </div>
            <ul class="nav">
                <li><a href="menu.html">МЕНЮ</a></li> <li class="sep"></li>
                <li><a href="delivery.html">ДОСТАВКА</a></li> <li class="sep"></li>
                <li><a href="stock.html">АКЦИИ</a></li> <li class="sep"></li>
                <li><a href="banquet.html">БАНКЕТЫ</a></li> <li class="sep"></li>
                <li><a href="restaurant.html">РЕСТОРАНЫ</a></li> <li class="sep"></li>
                <li><a href="about.html">ПРОНТО</a></li>
            </ul>
        </div>

        <div class="_txt-center row">
            <div class="btn-group">
                <button class="btn border" onclick="MainManager.showModal('registration')">регистрация</button>
                <button class="btn border" onclick="MainManager.showModal('authorization')">войти</button>
            </div>
            <div class="social">
                <a href="#" class="soc-icon-s_1"></a>
                <a href="#" class="soc-icon-s_2"></a>
                <a href="#" class="soc-icon-s_3"></a>
                <a href="#" class="soc-icon-s_4"></a>
            </div>
            <div class="basket-box">
                <button class="btn border" onclick="MainManager.basket(0)">В корзину</button>
                <span class="data">11 товаров — 10 570 руб.</span>
            </div>
        </div>
    </div>

    <ul class="menu nav">
        <li><a class="active" href="/pizza.html">ПИЦЦА</a></li> <li class="sep"></li>
        <li><a href="paste.html">ПАСТА</a></li> <li class="sep"></li>
        <li><a href="sushi.html">СУШИ-БАР</a></li> <li class="sep"></li>
        <li><a href="snacks.html">ЗАКУСКИ/САЛАТЫ</a></li> <li class="sep"></li>
        <li><a href="hot.html">ГОРЯЧЕЕ</a></li> <li class="sep"></li>
        <li><a href="drink.html">БАР/НАПИТКИ</a></li> <li class="sep"></li>
        <li><a href="dessert.html">ДЕСЕРТЫ</a></li> <li class="sep"></li>
        <!-- <li><a href="children.html">детское меню</a></li> <li class="sep"></li> -->
        <li><a href="stock.html">АКЦИИ</a></li>
    </ul>

</div>