
<div class="controls row">
    <div class="btn-group number-group">
        <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
        <input data-input-number type="text" name="" class="btn border input-number" value="1" min="1" readonly>
        <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
    </div>
    <div class="rub">280 руб.</div>
    <select data-btn-select class="selectpicker">
        <option>32 см</option>
        <option>40 см</option>
        <option>48 см</option>
    </select>
</div>

<div class="set dropup btn-group row">
    <button class="btn border set-btn" data-toggle="dropdown">
        Добавить ингредиенты
    </button>
    <button class="btn pink set-btn">
        в корзину
    </button>
    <div class="dropdown-menu" data-dropdown-menu>
        <button class="close-icon"></button>
        <div class="scroll" data-scroll>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="">Зелень</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="70р">Грибы</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="170р">Помидоры</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="70р">маслины</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="80р">Ананасы</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="70р">Лук красный</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="70р">маслины</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="170р">Помидоры</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="80р">Ананасы</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="70р">маслины</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="80р">Ананасы</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="70р">Лук красный</div>
            </div>
            <div class="set-list">
                <div class="btn-group number-group">
                    <button data-btn-number type="button" class="btn border btn-number" data-type="minus"></button>
                    <input data-input-number type="text" name="" class="btn border input-number" value="0" min="0" readonly>
                    <button data-btn-number type="button" class="btn border btn-number" data-type="plus"></button>
                </div>
                <div class="set-title" data-title="70р">маслины</div>
            </div>
        </div>
    </div>
</div>