<div class="footer">
    <div class="wrapper">


        <div class="row-col row">
            <div class="col col_4">
                <a href="/" class="logo"></a>
            </div>
            <div class="col col_2">
                <div class="money">
                    <a href="https://money.yandex.ru/" target="_blank" class="mon-icon-s_1"></a>
                    <a href="https://www.webmoney.ru/" target="_blank" class="mon-icon-s_2"></a>
                    <a href="http://www.visa.com.ru/" target="_blank" class="mon-icon-s_3"></a>
                    <a href="https://www.mastercard.ru/" target="_blank" class="mon-icon-s_4"></a>
                    <a href="https://qiwi.com/" target="_blank" class="mon-icon-s_5"></a>
                </div>
                <div class="social">
                    <a href="#" class="soc-icon-s_5"></a>
                    <a href="#" class="soc-icon-s_6"></a>
                    <a href="#" class="soc-icon-s_7"></a>
                    <a href="#" class="soc-icon-s_8"></a>
                </div>
            </div>
            <div class="col col_4">
                <div class="phone">+7 495/499 <span>505-57-57</span></div>
                <button class="btn black">заказать звонок</button>
            </div>
        </div>


        <ul class="menu nav">
            <li><a href="pizza.html">ПИЦЦА</a></li> <li class="sep"></li>
            <li><a href="paste.html">ПАСТА</a></li> <li class="sep"></li>
            <li><a href="sushi.html">СУШИ-БАР</a></li> <li class="sep"></li>
            <li><a href="snacks.html">ЗАКУСКИ/САЛАТЫ</a></li> <li class="sep"></li>
            <li><a href="hot.html">ГОРЯЧЕЕ</a></li> <li class="sep"></li>
            <li><a href="drink.html">БАР/НАПИТКИ</a></li> <li class="sep"></li>
            <li><a href="dessert.html">ДЕСЕРТЫ</a></li> <li class="sep"></li>
            <!-- <li><a href="children.html">детское меню</a></li> <li class="sep"></li> -->
            <li><a href="stock.html">АКЦИИ</a></li>
        </ul>

        <div class="copy row">
                <span>
                    <a href="#" class="active">десктопная версия</a> | <a href="#">мобильная версия</a>
                </span>
                <span>
                    © 1999–2016 ООО «Бистро Пронто»
                </span>
        </div>

    </div>
</div>